<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       
    </head>
    <body>
           <h3>Name:<%= data.name  %></h3><br>
          <h3>  Height:  <%= data.height %> feet</h3><br>
          <h3>  Weight:  <%= data.weight %> tones</h3>
           <a href="/" >back</a>
    </body>
</html>